.msg-container {
    border: 2px solid #aaa;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.msg-title {
    display: inline-block;
    margin-right: 10px;
}