h1{
    padding-top: 50px;
    justify-content: center;
}

#btn-licence  {
    width: 200px; 
}

#przycisk2{
    justify-content: center;
    margin: 15px;
}
.powrot{
    float: left;
    margin: 20px;
}

.stopa {
    background-color: #343a40; 
    padding: 10px;
    text-align: center;
    color: #ffffff; 
}